* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    min-height: 0;
    padding: 0px;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding-left: 1px;
    background: transparent;
    color: white;
    border: 1px solid rgba(100, 114, 125, 0.5);
}

#workspaces button.focused {
    color: #DAA520;
}

#mode {
    padding: 0 4px;
    background: #9a1318;
}

#network {
    color: #00ff00;
}

#network.disconnected {
    color: #FF0000;
}

#custom-separator {
    color: rgba(100, 114, 125, 1); 
}

#battery {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
