# Aliases
alias ls='ls --color=auto'
alias lsa="ls -lah --color=auto"
alias grep='grep --colour=auto'
alias egrep='egrep --colour=auto'
alias fgrep='fgrep --colour=auto'
alias cp="cp -i"                          # confirm before overwriting something
alias rm="rm -i"                          # confirm before deleting something
alias mv="mv -i"                          # confirm before moving something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
alias eb="exec bash"
alias ez="exec zsh"
alias v="$EDITOR" 
alias C="./a.out"
alias M='make'
alias P="python3"
alias nb="newsboat"
alias ka="killall"
alias ht="htop"
alias xa="xargs"
alias xo="xdg-open"
alias tsconf="cp ~/Personal/Templates/tsconfig/tsconfig.json ./"
alias cformat="cp ~/Personal/Templates/clang-format/clang-format ./.clang-format"

alias spam="pacman -Slq | fzf -m --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S"
alias Spam="paru -Slq | fzf -m --preview 'paru -Si {1}' | xargs -ro paru -S"
alias rsn="pacman -Qet | fzf -m --preview 'pacman -Si {1}'| awk '{print \$1}' | sudo xargs -ro pacman -Rsn"
alias update="sudo pacman -Syu"

alias ..="cd .."
alias cd.="cd ${HOME}/.dotfiles"
alias cda="cd ${HOME}/Clones/ansible/Ansible"
alias cdc="cd ${HOME}/.config"
alias cds="cd ${HOME}/.scripts"
alias cdC="cd ${HOME}/Clones"
alias cdu="cd ${HOME}/Documents/uzh"
alias cdP="cd ${HOME}/Pictures"
alias cdv="cd ${HOME}/.dotfiles/$EDITOR/.config/$EDITOR"
alias cdS="cd ${HOME}/.dotfiles/sway/.config/sway"
alias cdp="cd ${HOME}/Personal"
alias cdw="cd ${HOME}/Work"
alias cdT="cd ${HOME}/Personal/TESTING"
alias cdd="pwd | tr -d '\n' | wl-copy"
alias vswaps="cd ~/.local/share/nvim/swap"

alias cmx="chmod +x"

alias vrc="$EDITOR ~/.dotfiles/$EDITOR/.config/$EDITOR/"
alias zrc="$EDITOR ~/.zshrc"
alias arc="$EDITOR ~/.aliases"
alias prc="$EDITOR ~/.config/zshscripts/spaceship.zsh"

alias ta='tmux a || tmux'
alias ts='tmux-sessionizer'
alias ts.='ts $(pwd)'
alias tkill="tmux kill-session"
alias netrestart="sudo systemctl NetworkManager.service"

alias g="git"
alias gl="git log"
alias glo="git log --pretty='%C(cyan)%ad %C(yellow)%h %C(blue)%aN %C(red)%d %Creset%s' --all --date-order --graph --date=iso"
alias ga="git add ."
alias gf="git fetch"
alias gfa="git fetch --all --prune"
alias gP="git push"
alias gp="git pull"
alias gpr="git pull --rebase"
alias gc="git commit"
alias gst="git status"
alias gS-="git switch"
alias gs-="git switch -"
alias gsc="git switch -c"
alias gsm="git switch main"
alias gid="git config user.email "qasim.warraich@gmail.com"; git config user.name "qasimwarraich""
alias gd="git diff"
alias gC="git checkout"
alias lg="lazygit"

alias sin="sudo make clean install"
alias sun="sudo make uninstall"

alias wttr="curl v2.wttr.in/Bern"

alias blue="sudo rfkill unblock bluetooth"
alias bblue="sudo rfkill block bluetooth"

# Helpful funcitons 
os(){ fd . ~/ -Hc always | fzf -m --ansi | xargs -d '\n' -r xdg-open;}
vs(){ fd . ~/ -Hc always | fzf -m --ansi | xargs -r $EDITOR;}
zs(){ fd . ~/ -e "pdf" -Hc always  | fzf -m --ansi | xargs -d '\n' -r zathura;}
cs(){ cd "$(fd -H -c always -t d | fzf --ansi)" || exit;}
CS(){ cd "$(fd  . ~/Personal -H -c always -t d | fzf --ansi)" || exit ;}

